# Secure secret key generation:
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY=your-secret-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-domain-here
DJANGO_PRODUCTION=True